= f.input :text, :as => :pagedown, label: false
.help-block.collapse
    Character limit exceeded! Please reduce the length of your post.
= f.hidden_field :converted, :value => true
- if params[:reply_to_id]
    = f.hidden_field :reply_to_id, :value => params[:reply_to_id]

#wmd-help.modal.fade
    .modal-dialog
        .modal-content
            .modal-header
                %button.close{:data => {:dismiss => "modal"}} &times;
                %h3.modal-title.strong Help
            .modal-body
                %p.center.strong Select the category you need help with.
                .row
                    %ul.thumbnails.list-unstyled
                        %a{:href => "http://chibicode.github.io/markdown-toolbar-cheatsheet/", :target => "_blank"}
                            %li.col-md-6.col-sm-12
                                .thumbnail.trophy
                                    %div{:style => "background: #f5f5f5; color: #212121;"}
                                        %i.fa.fa-hashtag
                                    %h4.strong{:style => "color: #212121;"} Markdown
                        %a{:href => "/avatars", :target => "_blank"}
                            %li.col-md-6.col-sm-12
                                .thumbnail.trophy
                                    %div{:style => "background: #f5f5f5; color: #212121;"}
                                        %i.fa.fa-user
                                    %h4.strong{:style => "color: #212121;"} User Avatars
                        %a{:href => "/emoji", :target => "_blank"}
                            %li.col-md-6.col-sm-12
                                .thumbnail.trophy
                                    %div{:style => "background: #f5f5f5; color: #212121;"}
                                        %i.far.fa-smile
                                    %h4.strong{:style => "color: #212121;"} Emojis
