- content_for :title do "Play" end

%section.play
    .row{:style => "margin: 0px; margin-top: -20px"}
        .page-header
            %h2
                Play
                %small 1.7 - 1.12.1
        .well.connect
            .row
                .col-md-12.connect-header
                    Connect to
            %hr
            .row
                .col-md-12.connect-padding
                    .row.hostname
                        %input.input{type: "text", value: "play.stratus.network", onClick: "this.select();", readonly: true}
    %hr
    .row
        .col-md-6
            :markdown

                ### **How to connect**

                 1. Open your Minecraft launcher, select one of the supported versions (1.7-1.12.1) and click Play.
                 2. On the main menu, click the Multiplayer button.
                 3. Click on "Add Server" and name the server (can be anything you want). For the Server Address, copy the above IP and paste it in.
                 4. Click done. After that, a server should appear. Double click on it and you will join the lobby.
                 5. Once in the lobby, you can use the navigator in your inventory to select a server, join it and start playing!
        .col-md-6
            :markdown

                ### **Supported Versions**

                 - 1.12.1
                 - 1.12
                 - 1.11
                 - 1.10
                 - 1.9
                 - 1.8
                 - 1.7
