- content_for :title do "Shop" end
%section
    .page-header
        %h2.text-design
            Shop
            %small.text-design Temporarily Closed
    .row{:style => "text-align: center;"}
        %img{:src => "https://i.imgur.com/jTKmyFD.png"}
