- content_for(:title) {"Rules"}

%section
  .page-header
    %h2
      Stratus Network Rules

  .row
    .col-md-12
      :markdown
          ## **A. General Composure**

          1. Maintain a pleasant and casual atmosphere. Be respectful and use common sense. Excessive swearing, rudeness and harassment are not tolerated.

          2. Do not spam. This includes sending multiple or the same messages in a short time, or one or more long messages.

          3. Do not link to any of the following:

            1. Objectionable material, which includes but is not limited to pornography, viruses, phishing sites and hate groups;

            2. Personal identifying information of other users;

            3. Other servers, public or private, that are not part of the Stratus Network, except in a private message to a player that requests it.

          4. Do not impersonate any member of the Stratus Network staff, or claim to be a staff member.

          5. Follow any directions given by Stratus staff members. If you believe a staff member has directed you wrongly, please contact an administrator.

          **Note**: If you are concerned about links that may constitute as advertising, please clarify with a staff member before posting.

          **Note**: Section A applies to **all** Stratus services.

          ## **B. Website Behaviour**

          1. Do not make topics or posts aiming to insult or provoke other people or groups, and do not promote or encourage others to make such posts.

          2. Do not reply to topics with irrelevant, meaningless or spammy text/images.

          3. All personal issues must be dealt with in private. The public forums are not the place for personal conflicts.

          4. Criticism of the work of others, both staff and the larger community, must be delivered with politeness and personal respect.

          5. Do not make topics just to announce that you are quitting the game or the server. Exceptions may be made at senior staff’s discretion.

          6. Announcements about dramatic events befalling yourself or others must include a verifiable source for the information. If we cannot easily verify the story, the topic may be removed. Contact an administrator if you would like your source to remain private.

          7. Do not reply to a topic that you feel is violating the rules, submit a report instead. Intentionally lying in a report is considered an infraction.

          ## **C. Discord Rules**

          1. Stay on-topic within channels. Low quality content belongs in #off-topic.

          2. Do not add any bots without permission.

          3. Do not use any voice effects or play music through your client.

          ## **D. Server Behavior**

          1. Do not send messages that encourage other players into leaving a team or disconnecting from the server.

          2. You may not use any form of in game chat to solicit. Any account that is determined to be for the sole use of soliciting will be permanently banned without warning.

          3. The /report command should be used to alert the staff to rulebreakers. Publicly accusing other players of hacking and encouraging others to report a specific player, except to explain the process, are not allowed.

          4. Your username and skin must be appropriate, and you will be asked to change your username or skin if it is found to be inappropriate.

          5. Do not abuse glitches. This includes, but is not limited to, placing blocks in areas restricted by the plugin to walk in, creating an "x-ray" effect and causing yourself to be invincible.

          6. Players may not spawn camp, which is defined as any of the following:

            1. Killing more than 5 unarmed players directly out of their spawns within a three minute time period;

            2. Directly attacking the enemy spawn, that includes but isn’t limited to the use of TNT, lava, or any harmful material.

          7. Observers may never give tactical information to players or intentionally disrupt gameplay. Tactical information includes, but is not limited to:

            3. Revealing the locations of players;

            4. Revealing the ownership of wool in a Capture the Wool map.

          **Note**: All chat messages and commands are logged.

          **Note**: You may link to your Stratus Network-related livestream, so long as you don’t spam it.

          **Note**: Spawn killing rules do not apply on Conquer gamemodes (TDM, KotH, CtP, Blitz), CTF, or KotFTDM or Blitz maps.

          ## **E. Client Modifications**

          1. Any client modifications or external tools that give an unfair advantage over vanilla users are prohibited.

          2. The following modifications are explicitly **permitted** during gameplay:

            * OptiFine

            * ArmorStatusHUD / StatusEffectHUD

            * LabyMod (v2.6 and above)

            * Minimaps which do not show player or entity positions, or caves/underground

          3. You are only allowed to use one button, with one finger, to make one click. Anything else (e.g. autoclickers) is prohibited.

          4. If you are unsure if a mod is allowed, contact an administrator or senior moderator for confirmation before using it.

          **Note**: Additional mods installed through LabyMod must follow rule D1.

          **Note**: Observers are not bound to these restrictions unless they become a disturbance to other players.

          **Note**: These restrictions also apply to all players in lobbies at all times.

          ## **F. Team Griefing**

          1. Team griefing is prohibited and is defined as any reckless or intentional action that harms your own team.

          2. The following are explicitly team griefing:

            1. Placing and/or setting off TNT near teammates or near key team infrastructure (e.g. defences or armour supplies) within one's own base;

            2. Destroying one's own team's chests or workbenches;

            3. Teamkilling (including removing blocks from beneath a person to cause them to fall, or pushing teammates off the world);

            4. Aiding or working together with a member of the other team.

          3. The following are considered reckless and strongly discouraged (you may be warned for breaking the following rules):

            5. Placing unprotected TNT, especially building TNT towers, in one's own base;

            6. Using/modifying a TNT cannon built by another player without explicit permission;

            7. Taking all or almost all of the wool in a Capture the Wool map out of a wool room, unless there is only one wool left in that wool room;

            8. Placing blocks beneath you while running on your own team’s side.

          4. Any actions that are not listed here that hinder your team’s progress towards winning the match, deliberate or not, still fall under "team griefing" and may be dealt with as such.

          **Note**: Players are **NEVER** permitted to team grief, even in retaliation to another team griefer.

          ## **G. Consequences**

          1. Players may receive an in game warning or an infraction for breaking any of the rules above, depending on the severity of the violation.

          2. The severity of the infraction is usually based on the player’s previous infractions.

          3. In particularly serious or blatant cases of rules violation, including but not limited to using a hacking client on the servers, or consistently team griefing despite moderator intervention, will result in an immediate permanent ban, without warning.

          4. Players with many warnings for breaking the same rule may be temporarily banned without notice.

          5. Ban evasion is not permitted and will result in a permanent ban for all alternate accounts associated with the evading player. The alternate accounts will not be unbanned once the original ban expires, and the original ban may be extended up to thrice the length of the original ban (e.g. 1 week ban becomes up to a 3 week ban).

          6. Persistent ban evasion will result in a permanent ban for all accounts.

          7. Players violating the rules on any Stratus Network service, including the game servers, the forums and Discord, may be banned from any or all of the services.

          8. All infractions may be contested by filing an appeal.

          9. **Any player that knowingly gives false information in their appeal may be permanently banned.**

          **Note**: All infractions are subject to staff discretion.

          ## **H. Miscellaneous**

          1. These rules are subject to change with notice.

          2. Players are responsible for keeping up with rule changes.

          3. There is a one week grace period for rule changes.

          4. The Stratus Network Administration reserves the right to ban or unban any player from any Stratus Network services for any reason without notice.

          # Stratus Network Rules

          **A. General Composure**

          1. Maintain a pleasant and casual atmosphere. Be respectful and use common sense. Excessive swearing, rudeness and harassment are not tolerated.
          2. Do not spam. This includes sending multiple or the same messages in a short time, or one or more long messages.
          3. Do not link to any of the following:
            1. Objectionable material, which includes but is not limited to pornography, viruses, phishing sites and hate groups;
            2. Personal identifying information of other users;
            3. Other servers, public or private, that are not part of the Stratus Network, except in a private message to a player that requests it.
          4. Do not impersonate any member of the Stratus Network staff, or claim to be a staff member.
          5. Follow any directions given by Stratus staff members. If you believe a staff member has directed you wrongly, please contact an administrator.

          **Note** : If you are concerned about links that may constitute as advertising, please clarify with a staff member before posting.

          **Note** : Section A applies to **all** Stratus services.

          **B. Website Behaviour**

          1. Do not make topics or posts aiming to insult or provoke other people or groups, and do not promote or encourage others to make such posts.
          2. Do not reply to topics with irrelevant, meaningless or spammy text/images.
          3. All personal issues must be dealt with in private. The public forums are not the place for personal conflicts.
          4. Criticism of the work of others, both staff and the larger community, must be delivered with politeness and personal respect.
          5. Do not make topics just to announce that you are quitting the game or the server. Exceptions may be made at senior staff&#39;s discretion.
          6. Announcements about dramatic events befalling yourself or others must include a verifiable source for the information. If we cannot easily verify the story, the topic may be removed. Contact an administrator if you would like your source to remain private.
          7. Do not reply to a topic that you feel is violating the rules, submit a report instead. Intentionally lying in a report is considered an infraction.

          **C. Discord Rules**

          1. Stay on-topic within channels. Low quality content belongs in #off-topic.
          2. Do not add any bots without permission.
          3. Do not use any voice effects or play music through your client.

          **D. Server Behavior**

          1. Do not send messages that encourage other players into leaving a team or disconnecting from the server.
          2. You may not use any form of in game chat to solicit. Any account that is determined to be for the sole use of soliciting will be permanently banned without warning.
          3. The /report command should be used to alert the staff to rulebreakers. Publicly accusing other players of hacking and encouraging others to report a specific player, except to explain the process, are not allowed.
          4. Your username and skin must be appropriate, and you will be asked to change your username or skin if it is found to be inappropriate.
          5. Do not abuse glitches. This includes, but is not limited to, placing blocks in areas restricted by the plugin to walk in, creating an &quot;x-ray&quot; effect and causing yourself to be invincible.
          6. Players may not spawn camp, which is defined as any of the following:
            1. Killing more than 5 unarmed players directly out of their spawns within a three minute time period;
            2. Directly attacking the enemy spawn, that includes but isn&#39;t limited to the use of TNT, lava, or any harmful material.
          7. Observers may never give tactical information to players or intentionally disrupt gameplay. Tactical information includes, but is not limited to:
            1. Revealing the locations of players;
            2. Revealing the ownership of wool in a Capture the Wool map.

          **Note** : All chat messages and commands are logged.

          **Note** : You may link to your Stratus Network-related livestream, so long as you don&#39;t spam it.

          **Note** : Spawn killing rules do not apply on TDM or Blitz maps.

          **E. Client Modifications**

          1. Any client modifications or external tools that give an unfair advantage over vanilla users are prohibited.
          2. The following modifications are explicitly **permitted** during gameplay:
            - OptiFine
            - ArmorStatusHUD / StatusEffectHUD
            - LabyMod (v2.6 and above)
            - Minimaps which do not show player or entity positions, or caves/underground
          3. You are only allowed to use one button, with one finger, to make one click. Anything else (e.g. autoclickers) is prohibited.
          4. If you are unsure if a mod is allowed, contact an administrator or senior moderator for confirmation before using it.

          **Note** : Additional mods installed through LabyMod must follow rule D1.

          **Note** : Observers are not bound to these restrictions unless they become a disturbance to other players.

          **Note** : These restrictions also apply to all players in lobbies at all times.

          **F. Team Griefing**

          1. Team griefing is prohibited and is defined as any reckless or intentional action that harms your own team.
          2. The following are explicitly team griefing:
            1. Placing and/or setting off TNT near teammates or near key team infrastructure (e.g. defences or armour supplies) within one&#39;s own base;
            2. Destroying one&#39;s own team&#39;s chests or workbenches;
            3. Teamkilling (including removing blocks from beneath a person to cause them to fall, or pushing teammates off the world);
            4. Aiding or working together with a member of the other team.
          3. The following are considered reckless and strongly discouraged (you may be warned for breaking the following rules):
            1. Placing unprotected TNT, especially building TNT towers, in one&#39;s own base;
            2. Using/modifying a TNT cannon built by another player without explicit permission;
            3. Taking all or almost all of the wool in a Capture the Wool map out of a wool room, unless there is only one wool left in that wool room;
            4. Placing blocks beneath you while running on your own team&#39;s side.
          4. Any actions that are not listed here that hinder your team&#39;s progress towards winning the match, deliberate or not, still fall under &quot;team griefing&quot; and may be dealt with as such.

          **Note** : Players are **NEVER** permitted to team grief, even in retaliation to another team griefer.

          **G. Consequences**

          1. Players may receive an in game warning or an infraction for breaking any of the rules above, depending on the severity of the violation.
          2. The severity of the infraction is usually based on the player&#39;s previous infractions.
          3. In particularly serious or blatant cases of rules violation, including but not limited to using a hacking client on the servers, or consistently team griefing despite moderator intervention, will result in an immediate permanent ban, without warning.
          4. Players with many warnings for breaking the same rule may be temporarily banned without notice.
          5. Ban evasion is not permitted and will result in a permanent ban for all alternate accounts associated with the evading player. The alternate accounts will not be unbanned once the original ban expires, and the original ban may be extended up to thrice the length of the original ban. (e.g. 1 week ban becomes up to a 3 week ban).
          6. Persistent ban evasion will result in a permanent ban for all accounts.
          7. Players violating the rules on any Stratus Network service, including the game servers, the forums and Discord, may be banned from any or all of the services.
          8. All infractions may be contested by filing an appeal.
          9. **Any player that knowingly gives false information in their appeal may be permanently banned.**

          **Note** : All infractions are subject to staff discretion.

          **H. Miscellaneous**

          1. These rules are subject to change with notice.
          2. Players are responsible for keeping up with rule changes.
          3. There is a one week grace period for rule changes.
          4. The Stratus Network Administration reserves the right to ban or unban any player from any Stratus Network services for any reason without notice.
