.carousel.slide#hero{:style => "position: absolute;"}
    .carousel-inner{:style => "z-index: -1"}
        .item{:class => "active"}
            %img#breathing{:src => image_path(@image)}
.jumbotron.main.masthead
    .container
        %h2.front-title= ORG::NAME
        %h4.front-title Large varieties of Minecraft PvP<br>anytime, anywhere
        .row
            .col-md-6.ip
                %p.label.label-default SERVER IP
                %a.btn.btn-primary.btn-lg.ip
                    %input.input{type: "text", value: "play.stratus.network", onClick: "this.select();", readonly: true}
.bs-docs-social
    .container
        %ul.bs-docs-social-buttons
            %li
                %h5{:style => "font-weight: bold"} Latest Announcements:
                - @topics.each do |topic|
                    %li
                        %a{:href => forem.topic_path(topic),
                           :rel => "tooltip",
                           :title => "Created " + time_ago_in_words(topic.created_at, false, :vague => true) + " ago",
                           :data => {:placement => "bottom"}}= render_topic_title(topic, emoji_size: 16)
%section
    .container{:style => "padding-bottom: 40px"}
        %br
        .row.stat-display
            .col-md-4
                %img.center-block{:src => asset_path("index/variety.png")}
                %h2 COMMUNITY
                %hr
                %h3 000.000
                %h5 TOTAL PLAYER JOINS
            .col-md-4
                %img.center-block{:src => asset_path("index/competition.png")}
                %h2 GAMES
                %hr
                %h3 000.000
                %h5 MATCHES PLAYED
            .col-md-4
                %img.center-block{:src => asset_path("index/reliability.png")}
                %h2 SUPPORT
                %hr
                %h3 1.7 - 1.12
                %h5 VERSIONS SUPPORTED
