- content_for :splash do
    = render :partial => "splash"

%section
    .container{:style => "padding-bottom: 40px"}
        %br
        .row
            .col-md-8{:style => "padding-top: 20px"}
                %h4{:style => "font-weight: bold"} About Us
                %p Founded in early 2017, the Stratus Network aims to become the next home for the PGM plugin. With it and other custom-coded plugins, Stratus offers both competitive and casual team-based PvP and, most importantly, a dedicated and awesome community.
            .col-md-4
                %img.center-block{:src => asset_path("logo_cloud.png"), :width => "50%"}


%style body { padding-bottom: 40px; }

%script $(function(){$('#hero').carousel('cycle')});
