- content_for(:title) {"Privacy"}

%section
    .page-header
        %h2
            Privacy Policy

    .row
        .col-md-12
            :markdown
                Stratus Network collects and stores information about users in several different ways:

                  - When you [register](http://stratus.network/users/sign_up) your Minecraft account with the website, we require your email address, for verification purposes. We store your email address securely in our database, and it is only visible to our own [Administrators and Developers.](http://stratus.network/staff)
                  - On your [account page,](http://stratus.network/users/edit) you can enter various details about yourself for display on your public profile. Entering this information is entirely optional.
                  - Many gameplay events are recorded and used to generate [statistics and rankings,](http://stratus.network/stats) which are publicly visible on our website.
                  - All text sent through in-game chat or private messaging on our servers is saved indefinitely. Only [Administrators and Developers](http://stratus.network/staff) have access to these records, which we use to investigate reports of harassment and other rule violations.
                  - The [IP address](https://en.wikipedia.org/wiki/IP_address) you use to connect to our website or game servers is securely stored in our database. Only [Administrators, Developers, and Senior Moderators](http://stratus.network/staff) have access to IP address records. They are sometimes used to find alternate accounts of banned players.
                  - When you make a purchase in our [shop,](http://stratus.network/shop) your payment information is sent directly to either Paypal or Stripe, our payment processors. We do not store payment information on our own servers.
                  - All [reports](http://stratus.network/reports/new) and [appeals](http://stratus.network/appeals/new) created through our website are visible to all [Junior Moderators, Moderators, Senior Moderators, Administrators, and Developers.](http://stratus.network/staff) Evidence provided with reports may also be revealed to the player being reported so that they can defend themselves.

                In general, Stratus network collects user information only for the purpose of improving our services. Sensitive information is only visible to our own staff, and only to those staff who need it to do their job.
