- content_for(:title) {"Refund Policy"}

%section
    .page-header
        %h2
            Refund Policy

    .row
        .col-md-12
            :markdown
                We do not provide refunds for any shop purchases. If you are having any problems with a premium rank, please contact us at support@stratus.network and we will do our best to help you out.
