.well {
    outline: none;
    border-color: #F48FB1;
    box-shadow: 0 0 4px 1px #F48FB1;
}

/* Confetti Animation */

#confetti {
    left: 0;
    position: fixed;
    right: 0;
    top: -160px;
    z-index: -1;
}

#confetti .ball {
    animation-iteration-count :infinite !important;
    -webkit-animation-iteration-count :infinite !important;
    border-radius: 50%;
    cursor: default;
    display: inline-block;
    height: 10px;
    user-select: none;
    -webkit-user-select: none;
    width: 10px;
}

@-webkit-keyframes falling-left {
    0% {-webkit-transform: translate3d(0,0,0);opacity: 1;}
    10% { opacity: 0;}
    20% { opacity: 1;}
    30% { opacity: 0;}
    40% { opacity: 1;}
    50% { opacity: 0;}
    60% { opacity: 1;}
    70% { opacity: 0;}
    80% { opacity: 1;}
    90% { opacity: 0;}
    100% {-webkit-transform: translate3d(0,120vh,0); opacity: 1;}
}

@keyframes falling-left {
    0% {-webkit-transform: translate3d(0,0,0);opacity: 1;}
    10% { opacity: 0;}
    20% { opacity: 1;}
    30% { opacity: 0;}
    40% { opacity: 1;}
    50% { opacity: 0;}
    60% { opacity: 1;}
    70% { opacity: 0;}
    80% { opacity: 1;}
    90% { opacity: 0;}
    100% {-webkit-transform: translate3d(0,120vh,0); opacity: 1;}
}

#confetti .ball:nth-child(2n) {
    -webkit-animation: falling-left linear;
    animation: falling-left linear ;
}

@-webkit-keyframes falling-right {
    0% {-webkit-transform: translate3d(0,0,0);opacity: 0;}
    10% { opacity: 1;}
    20% { opacity: 0;}
    30% { opacity: 1;}
    40% { opacity: 0;}
    50% { opacity: 1;}
    60% { opacity: 0;}
    70% { opacity: 1;}
    80% { opacity: 0;}
    90% { opacity: 1;}
    100% {-webkit-transform: translate3d(0,120vh,0); opacity: 0;}
}

@keyframes falling-right {
    0% {-webkit-transform: translate3d(0,0,0);opacity: 1;}
    10% { opacity: 0;}
    20% { opacity: 1;}
    30% { opacity: 0;}
    40% { opacity: 1;}
    50% { opacity: 0;}
    60% { opacity: 1;}
    70% { opacity: 0;}
    80% { opacity: 1;}
    90% { opacity: 0;}
    100% {-webkit-transform: translate3d(0,120vh,0); opacity: 0;}
}

#confetti .ball:nth-of-type(2n+1) {
    -webkit-animation: falling-right linear ;
    animation: falling-right linear;
}
